In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import sklearn as skn
import matplotlib as plt
sns.set()

In [24]:
volcanoData = pd.read_csv("volcano_data_2010.csv")

In [45]:
volcanoData.head(10)

,Year,Month,Day,Name,Location,Country,Latitude,Longitude,Elevation,Type,Status,Time,VEI,Agent,DEATHS
0,2010,1,NaN,Tungurahua,Ecuador,Ecuador,-1.467,-78.442,5023,Stratovolcano,Historical,D1,3.0,NaN,NaN
1,2010,3,31.0,Eyjafjallajokull,Iceland-S,Iceland,63.630,-19.620,1666,Stratovolcano,Historical,D1,2.0,NaN,2.0
2,2010,5,27.0,Pacaya,Guatemala,Guatemala,14.381,-90.601,2552,Complex volcano,Historical,D1,1.0,T,1.0
3,2010,5,29.0,Sarigan,Mariana Is-C Pacific,United States,16.708,145.780,538,Stratovolcano,Holocene,U,NaN,NaN,NaN
4,2010,8,6.0,Karangetang [Api Siau],Sangihe Is-Indonesia,Indonesia,2.780,125.480,1784,Stratovolcano,Historical,D1,3.0,NaN,4.0
5,2010,8,30.0,Sinabung,Sumatra,Indonesia,3.170,98.392,2460,Stratovolcano,Holocene,U,NaN,NaN,2.0
6,2010,10,26.0,Merapi,Java,Indonesia,-7.542,110.442,2947,Stratovolcano,Historical,D1,NaN,NaN,367.0
7,2010,11,NaN,Tungurahua,Ecuador,Ecuador,-1.467,-78.442,5023,Stratovolcano,Historical,D1,3.0,NaN,NaN
8,2010,12,28.0,Tengger Caldera,Java,Indonesia,-7.942,112.950,2329,Stratovolcano,Historical,D1,NaN,NaN,NaN
9,2011,1,3.0,Merapi,Java,Indonesia,-7.542,110.442,2947,Stratovolcano,Historical,D1,NaN,M,1.0

,Year,Month,Day,TSU,EQ,Name,Location,Country,Latitude,Longitude,...,TOTAL_DEATHS,TOTAL_DEATHS_DESCRIPTION,TOTAL_MISSING,TOTAL_MISSING_DESCRIPTION,TOTAL_INJURIES,TOTAL_INJURIES_DESCRIPTION,TOTAL_DAMAGE_MILLIONS_DOLLARS,TOTAL_DAMAGE_DESCRIPTION,TOTAL_HOUSES_DESTROYED,TOTAL_HOUSES_DESTROYED_DESCRIPTION
0,2010,1,NaN,NaN,NaN,Tungurahua,Ecuador,Ecuador,-1.467,-78.442,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
1,2010,3,31.0,NaN,NaN,Eyjafjallajokull,Iceland-S,Iceland,63.630,-19.620,...,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010,5,27.0,NaN,NaN,Pacaya,Guatemala,Guatemala,14.381,-90.601,...,1.0,1.0,3.0,1.0,NaN,NaN,NaN,1.0,3.0,1.0
3,2010,5,29.0,TSU,EQ,Sarigan,Mariana Is-C Pacific,United States,16.708,145.780,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010,8,6.0,NaN,NaN,Karangetang [Api Siau],Sangihe Is-Indonesia,Indonesia,2.780,125.480,...,4.0,1.0,NaN,NaN,5.0,1.0,NaN,NaN,NaN,1.0