# Exercices Pandas
## Importer un fichier

In [3]:
import pandas as pd #importer librairie

base="https://bit.ly/world-cities-clean"
base=pd.read_csv(base)

base.head(5) #lecture des 5 premières lignes

               name               country          subcountry  geonameid
0      les Escaldes               Andorra  Escaldes-Engordany    3040051
1  Andorra la Vella               Andorra    Andorra la Vella    3041563
2    Umm al Qaywayn  United Arab Emirates      Umm al Qaywayn     290594
3    Ras al-Khaimah  United Arab Emirates     Raʼs al Khaymah     291074
4      Khawr Fakkān  United Arab Emirates        Ash Shāriqah     291696

## Comprendre les erreurs

### Erreurs liées au fichier
#### Accès par un chemin d'accès inexistant

In [4]:
path = "chemin/qui/n'existe pas"
pd.read_csv(path)

FileNotFoundError: [Errno 2] No such file or directory: "chemin/qui/n'existe pas"

**Rapport d'erreur :**```FileNotFoundError: [Errno 2] No such file or directory: "chemin/qui/n'existe pas"```

Il n'y a pas de fichier ou de dossier dont le chemin d'accès est celui indiqué

**Solution :** Corriger le chemin d'accès

#### Accès depuis une URL, fichier sans ligne d'en-tête

In [12]:
url="https://bit.ly/world-cities-dirty-v1"
data=pd.read_csv(url, names=["name","country","subcountry", "geonameid"])
data.head()

               name               country          subcountry  geonameid
0      les Escaldes               Andorra  Escaldes-Engordany    3040051
1  Andorra la Vella               Andorra    Andorra la Vella    3041563
2    Umm al Qaywayn  United Arab Emirates      Umm al Qaywayn     290594
3    Ras al-Khaimah  United Arab Emirates     Raʼs al Khaymah     291074
4      Khawr Fakkān  United Arab Emirates        Ash Shāriqah     291696

**Problème :** Le fichier ne contient pas de ligne d'en-tête de colonnes.

**Solution :** L'argument ```name=[""] ``` de la fonction ```read_csv()``` permet d'imputer à la main le nom des colonnes.

#### Accès à un fichier avec du texte au début et à la fin

In [34]:
url="https://bit.ly/world-cities-dirty-v2"
data=pd.read_csv(url, skiprows=2, skipfooter=1, encoding='utf8')
data.head()

<ipython-input-34-9d0693eeb21d>:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  data=pd.read_csv(url, skiprows=2, skipfooter=1,encoding='utf8')

               name               country          subcountry  geonameid
0      les Escaldes               Andorra  Escaldes-Engordany    3040051
1  Andorra la Vella               Andorra    Andorra la Vella    3041563
2    Umm al Qaywayn  United Arab Emirates      Umm al Qaywayn     290594
3    Ras al-Khaimah  United Arab Emirates     Raʼs al Khaymah     291074
4      Khawr Fakkān  United Arab Emirates        Ash Shāriqah     291696

**Problème :** Du texte est inséré au début et à la fin du fichier à importer.

**Rapport d'erreur :* ```ParserError: Error tokenizing data. C error: Expected 4 fields in line 23022, saw 7```

Erreur dans l'importation des données. 4 champs attendus, 7 champs à la ligne 23022.

**Solution :** L'argument ```skiprows=n``` de la fonction read_csv() permet de défini **n** lignes à ignorer au début du fichier.

L'argument ```skipfooter=n``` de la fonction read_csv() permet de défini **n** lignes à ignorer à la fin du fichier.

**Erreur Bonus :** 

Erreur d'encodage :```UnicodeDecodeError: 'charmap' codec can't decode byte 0x81 in position 1580: character maps to <undefined>```

Corriger avec l'argument : ```encoding='utf8'```

#### Accès à un fichier avec un séparateur différent

In [37]:
url="https://bit.ly/world-cities-dirty-v3"
data=pd.read_csv(url, sep='|', names=["name","country","subcountry", "geonameid"])
data.head()

               name               country          subcountry  geonameid
0      les Escaldes               Andorra  Escaldes-Engordany    3040051
1  Andorra la Vella               Andorra    Andorra la Vella    3041563
2    Umm al Qaywayn  United Arab Emirates      Umm al Qaywayn     290594
3    Ras al-Khaimah  United Arab Emirates     Raʼs al Khaymah     291074
4      Khawr Fakkān  United Arab Emirates        Ash Shāriqah     291696

**Problème :** Le tableau importé n'est composé que d'une colonne car le séparateur utilisé dans le fichier brut n'est pas la virgule et les colonnes n'ont pas d'en-tête.

**Solution :** L'argument ```sep=''``` de la fonction read_csv() permet de définir à la main le séparateur du fichier brut.

L'argument ```name=[""]``` de la fonction read_csv() permet d'imputer à la main le nom des colonnes.

## Bonnes pratiques à l'ouverture d'un fichier CSV

**df.shape** pour regarder le nombres de ligne et de colonnes
<br/>**df.dtypes** pour regarder le nom des colonnes et leur type d'un seul coup (j'en profite pour repérer d'éventuel conversion de types qu'il faudra effectuer)
<br/>**df.head()** pour regarder à quoi ressemble les premières lignes du dataset.
<br/>**df.tail()** pour regarder les dernières lignes du dataset. J'en profite pour comparer le résultat de head avec celui de tail, y-a-t'il une quelconque différence? Parfois les anomalies sont rangées à la fin du dataset.
<br/>**df.isna().sum()** pour vérifier la présence de valeurs manquantes par colonnes.

### Application

In [70]:
base1=pd.read_csv("https://bit.ly/world-cities-clean")
base2=pd.read_csv("https://bit.ly/bitcoin-data")

#### Dimensions de la table de données

In [48]:
print(base1.shape, base2.shape)

(23018, 4) (33, 7)

La base de donnée 1 est composée de 23 018 lignes et de 4 colonnes.<br/>
La base de donnée 2 est composée de 33 lignes et de 7 colonnes.

#### Prévisualisation des données
**Premières lignes**

In [49]:
base1.head()

               name               country          subcountry  geonameid
0      les Escaldes               Andorra  Escaldes-Engordany    3040051
1  Andorra la Vella               Andorra    Andorra la Vella    3041563
2    Umm al Qaywayn  United Arab Emirates      Umm al Qaywayn     290594
3    Ras al-Khaimah  United Arab Emirates     Raʼs al Khaymah     291074
4      Khawr Fakkān  United Arab Emirates        Ash Shāriqah     291696

**Dernières lignes**

In [51]:
base1.tail()

              name   country           subcountry  geonameid
23013     Bulawayo  Zimbabwe             Bulawayo     894701
23014      Bindura  Zimbabwe  Mashonaland Central     895061
23015   Beitbridge  Zimbabwe   Matabeleland South     895269
23016      Epworth  Zimbabwe               Harare    1085510
23017  Chitungwiza  Zimbabwe               Harare    1106542

Les données ont l'air d'être triées dans l'ordre croissant selon le Pays. <br/>
Pas de déchet au début ou à la fin du fichier.

**Premières lignes**

In [52]:
base2.head()

          Date    Open*     High      Low  Close**        Volume    Market Cap
0  Jan 14 2020  8140.93  8879.51  8140.93  8827.76  4.484178e+10  1.603195e+11
1  Jan 13 2020  8189.77  8197.79  8079.70  8144.19  2.248291e+10  1.478905e+11
2  Jan 12 2020  8033.26  8200.06  8009.06  8192.49  2.290344e+10  1.487530e+11
3  Jan 11 2020  8162.19  8218.36  8029.64  8037.54  2.552117e+10  1.459242e+11
4  Jan 10 2020  7878.31  8166.55  7726.77  8166.55  2.871458e+10  1.482499e+11

**Dernières lignes**

In [53]:
base2.tail()

,Date,Open*,High,Low,Close**,Volume,Market Cap
28,Dec 17 2019,6931.32,6964.07,6587.97,6640.52,2.236380e+10,1.202342e+11
29,Dec 16 2019,7153.66,7171.17,6903.68,6932.48,2.021327e+10,1.255156e+11
30,Dec 15 2019,7124.24,7181.08,6924.38,7152.30,1.688113e+10,1.294814e+11
31,* Earliest data in range (UTC time),NaN,NaN,NaN,NaN,NaN,NaN
32,** Latest data in range (UTC time),NaN,NaN,NaN,NaN,NaN,NaN

Les données ont l'air d'être triées dans l'ordre décroissant selon la Date.<br/>
Déchets à la fin du fichier.

#### Recherche de valeurs manquantes

In [54]:
base1.isna().sum()

name           0
country        0
subcountry    26
geonameid      0
dtype: int64

26 Données manquantes dans la colonne ```subcountry```.

In [55]:
base2.isna().sum()

Date          0
Open*         2
High          2
Low           2
Close**       2
Volume        2
Market Cap    2
dtype: int64

Données manquantes correspondant aux lignes issues des déchets.

## Modifier une base de données 
### Modifier le nom d'une colonne
**Par la fonction rename**

In [72]:
base_rename=base2.copy()
base_rename.rename(columns={"Open*": "Open", "Close**":"Close"}, inplace=True)
base_rename.head()

          Date     Open     High      Low    Close        Volume    Market Cap
0  Jan 14 2020  8140.93  8879.51  8140.93  8827.76  4.484178e+10  1.603195e+11
1  Jan 13 2020  8189.77  8197.79  8079.70  8144.19  2.248291e+10  1.478905e+11
2  Jan 12 2020  8033.26  8200.06  8009.06  8192.49  2.290344e+10  1.487530e+11
3  Jan 11 2020  8162.19  8218.36  8029.64  8037.54  2.552117e+10  1.459242e+11
4  Jan 10 2020  7878.31  8166.55  7726.77  8166.55  2.871458e+10  1.482499e+11

**Par duplication de la colonne puis supression de l'ancienne colonne**

In [84]:
base_dupli=base2.copy()
base_dupli['Open']=base_dupli['Open*']
base_dupli.drop(['Open*'], axis='columns',inplace=True)
base_dupli.head()

          Date     High      Low  Close**        Volume    Market Cap     Open
0  Jan 14 2020  8879.51  8140.93  8827.76  4.484178e+10  1.603195e+11  8140.93
1  Jan 13 2020  8197.79  8079.70  8144.19  2.248291e+10  1.478905e+11  8189.77
2  Jan 12 2020  8200.06  8009.06  8192.49  2.290344e+10  1.487530e+11  8033.26
3  Jan 11 2020  8218.36  8029.64  8037.54  2.552117e+10  1.459242e+11  8162.19
4  Jan 10 2020  8166.55  7726.77  8166.55  2.871458e+10  1.482499e+11  7878.31

**Par modification de la chaîne de caractères du nom de la colonne**

In [90]:
def modif_adhoc(s):
    s=s.replace('*','')
    s=s.replace(' ','_')
    return s

In [92]:
base_function=base2.copy()
base_function.rename(modif_adhoc, axis='columns',inplace=True)
base_function.head()

          Date     Open     High      Low    Close        Volume    Market_Cap
0  Jan 14 2020  8140.93  8879.51  8140.93  8827.76  4.484178e+10  1.603195e+11
1  Jan 13 2020  8189.77  8197.79  8079.70  8144.19  2.248291e+10  1.478905e+11
2  Jan 12 2020  8033.26  8200.06  8009.06  8192.49  2.290344e+10  1.487530e+11
3  Jan 11 2020  8162.19  8218.36  8029.64  8037.54  2.552117e+10  1.459242e+11
4  Jan 10 2020  7878.31  8166.55  7726.77  8166.55  2.871458e+10  1.482499e+11

**Par utilisation du module**

In [99]:
base_method=base2.copy()
base_method.columns=base_method.columns.str.replace('*','')
base_method.head()

          Date     Open     High      Low    Close        Volume    Market Cap
0  Jan 14 2020  8140.93  8879.51  8140.93  8827.76  4.484178e+10  1.603195e+11
1  Jan 13 2020  8189.77  8197.79  8079.70  8144.19  2.248291e+10  1.478905e+11
2  Jan 12 2020  8033.26  8200.06  8009.06  8192.49  2.290344e+10  1.487530e+11
3  Jan 11 2020  8162.19  8218.36  8029.64  8037.54  2.552117e+10  1.459242e+11
4  Jan 10 2020  7878.31  8166.55  7726.77  8166.55  2.871458e+10  1.482499e+11

***Application***
Passer le nom des colonnes en majuscule.

In [106]:
test = pd.DataFrame(data={'a':[1,2],
                         'b':[3,3]})
test

   a  b
0  1  3
1  2  3

In [107]:
#Methode 1 : Rename
test.rename(str.upper, axis='columns', inplace=True)
test

   A  B
0  1  3
1  2  3

In [111]:
#Methode 2 : Module
test.columns = test.columns.str.upper()
test

   A  B
0  1  3
1  2  3