In [2]:
import pandas as pd
chemin = "https://bit.ly/felonies-dataset"
felonies = pd.read_csv(chemin)
felonies.head()

        Date of Arrest  Age Convicted
0  2014-07-16 14:59:18   77       Yes
1  2002-12-19 22:17:59   28       Yes
2  1994-06-28 09:31:40   21        No
3  1985-05-14 09:52:17   45       Yes
4  1985-05-25 14:06:28   39       Yes