In [4]:
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [7]:
df= sns.load_dataset('planets')

In [8]:
df.shape[0]

1035

In [14]:
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [18]:
df.tail(10)

       method  number  orbital_period  mass  distance  year
1025  Transit       1        3.067850   NaN      60.0  2012
1026  Transit       1        0.925542   NaN     470.0  2014
1027  Imaging       1             NaN   NaN      19.2  2011
1028  Transit       1        3.352057   NaN    3200.0  2012
1029  Imaging       1             NaN   NaN      10.1  2012
1030  Transit       1        3.941507   NaN     172.0  2006
1031  Transit       1        2.615864   NaN     148.0  2007
1032  Transit       1        3.191524   NaN     174.0  2007
1033  Transit       1        4.125083   NaN     293.0  2008
1034  Transit       1        4.187757   NaN     260.0  2008

In [28]:
df.groupby('method')['mass'].count()

method
Astrometry                         0
Eclipse Timing Variations          2
Imaging                            0
Microlensing                       0
Orbital Brightness Modulation      0
Pulsar Timing                      0
Pulsation Timing Variations        0
Radial Velocity                  510
Transit                            1
Transit Timing Variations          0
Name: mass, dtype: int64

In [16]:
df.isna().sum()

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64

In [24]:
print(df['mass'].sum() / df['mass'].count())
print(df['mass'].mean())

2.6381605847953216
2.6381605847953216

In [31]:
mask = df['number'] >1
df[mask]

              method  number  orbital_period  mass  distance  year
9    Radial Velocity       2        452.8000  1.99     74.79  2010
10   Radial Velocity       2        883.0000  0.86     74.79  2010
13   Radial Velocity       3       1078.0000  2.53     14.08  1996
14   Radial Velocity       3       2391.0000  0.54     14.08  2001
15   Radial Velocity       3      14002.0000  1.64     14.08  2009
..               ...     ...             ...   ...       ...   ...
925     Microlensing       2             NaN   NaN   4080.00  2012
926     Microlensing       2             NaN   NaN   4080.00  2012
941    Pulsar Timing       3         25.2620   NaN       NaN  1992
942    Pulsar Timing       3         66.5419   NaN       NaN  1992
943    Pulsar Timing       3         98.2114   NaN       NaN  1994

[440 rows x 6 columns]