### conversion vers un fichier csv

In [8]:
import pandas as pd

In [10]:
chemin = "Https://bit.ly/world-cities-clean"
df = pd.read_csv(chemin)
df.head()

               name               country          subcountry  geonameid
0      les Escaldes               Andorra  Escaldes-Engordany    3040051
1  Andorra la Vella               Andorra    Andorra la Vella    3041563
2    Umm al Qaywayn  United Arab Emirates      Umm al Qaywayn     290594
3    Ras al-Khaimah  United Arab Emirates     Raʼs al Khaymah     291074
4      Khawr Fakkān  United Arab Emirates        Ash Shāriqah     291696

In [25]:
chemin2 = "Https://bit.ly/world-cities-dirty-v2"
df = pd.read_csv(chemin2,skiprows = 2, skipfooter = 1,encoding= "UTF8")
df.head()

<ipython-input-25-f74be8825a41>:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(chemin2,skiprows = 2, skipfooter = 1,encoding= "UTF8")

               name               country          subcountry  geonameid
0      les Escaldes               Andorra  Escaldes-Engordany    3040051
1  Andorra la Vella               Andorra    Andorra la Vella    3041563
2    Umm al Qaywayn  United Arab Emirates      Umm al Qaywayn     290594
3    Ras al-Khaimah  United Arab Emirates     Raʼs al Khaymah     291074
4      Khawr Fakkān  United Arab Emirates        Ash Shāriqah     291696

In [33]:
chemin3 = "Https://bit.ly/world-cities-dirty-v3"
df = pd.read_csv(chemin3,sep ="|",delimiter = "  ",encoding = "UTF8")
df.head()

<ipython-input-33-abbd5bf46093>:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(chemin3,sep ="|",delimiter = "  ",encoding = "UTF8")

     les Escaldes|Andorra|Escaldes-Engordany|3040051
0  Andorra la Vella|Andorra|Andorra la Vella|3041563
1  Umm al Qaywayn|United Arab Emirates|Umm al Qay...
2  Ras al-Khaimah|United Arab Emirates|Raʼs al Kh...
3  Khawr Fakkān|United Arab Emirates|Ash Shāriqah...
4            Dubai|United Arab Emirates|Dubai|292223